/*
* @Author: yajie
* @Date:   2018-03-05 22:19:18
* @Last Modified by:   yajie
* @Last Modified time: 2018-03-05 22:31:26
*/

.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}
